* {
    box-sizing: border-box;
}
body {
    margin: 0;padding: 0;
    background: linear-gradient(to right, #ff0011 , #3498db);
    color: rgb(39, 43, 46);
}
h1 {
    font-size: 26px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
.inputDiv {
    text-align: center;
}
h5 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
p {
    text-align: center;
}